body {
    font-family: 'Courier New', Courier, monospace ;
    margin: 0;
    padding: 0;
    overflow-x: hidden ;
}

#header {
    justify-content: space-around;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #1f2937;
}
#header > ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 18px;
    
}
.nav-link {
    text-decoration: none;
}
#logo-img {
  
    border: 2px solid black;
}
.section {
    width: 100%;
    height: 70vh;
}


#s1 {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#header-logo-text {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    align-items: center;
}
.hero1 {
    width: 500px;
    padding: 30px 30px;
    
   
}

.hero1 > h1{ font-weight: bold;
    color: #f9faf8;
        font-size: 48px;
    }
.hero-secondary-text, .nav-link{
    font-size: 18px;
    color: #e5e7eb;
}


.sign-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 130px;
    height: 50px;
}
.img-placeholder {
    border: 2px solid black;
    width: 700px;
    height: 250px;
    margin-right: 20px;
}

#footer {
    height: 70px;
    width: 100%;
    border: 1px solid black;
}


 #s2 > h1 {
    text-align: center;
 }
#card-flex {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.card-img {
    width: 90%;
    margin-top: 10px;
    height: 170px;

}
.card {
    font-size: 20px;
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid #1f2937;
    color: #1f2937;
    background-color: white;
}
#s3 {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}
#testimonio { 
    font-size: 36px;
    font-weight: lighter;
    margin: 20px;

}
#testimonio > span {  
    font-size: 30px;
}
.cuadro {
    color: white;
    border-radius: 20px;
    background-color: #3882f6;
    padding: 10px 20px;
    width: 700px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.cuadro > .sign-hero, .sign-hero {
    border: 1px solid white;
    color: white;
    border-radius: 15px;
    background-color: #3882f6;
    
}
.cuadro {
    border: 3px solid #1f2937;
}
#s4 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
}